{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/strict",
    "plugin:typescript-sort-keys/recommended",
    "plugin:jsdoc/recommended",
    "@nuxt/eslint-config",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-tsdoc",
    "sort-keys-fix",
    "typescript-sort-keys",
    "jsdoc",
    "vue"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/no-unsafe-argument": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/restrict-template-expressions": "off",
    "@typescript-eslint/unbound-method": "off",
    "jsdoc/check-indentation": "warn",
    "jsdoc/require-param-type": "off",
    "jsdoc/require-returns-type": "off",
    "jsdoc/sort-tags": "warn",
    "sort-keys-fix/sort-keys-fix": "error",
    "tsdoc/syntax": "error",
    "vue/attributes-order": [
      "error",
      {
        "alphabetical": true
      }
    ],
    "vue/multi-word-component-names": "off",
    "vue/require-prop-comment": [
      "error",
      {
        "type": "JSDoc"
      }
    ]
  }
}
